[submodule "player-profile-server/lib/lapilli"]
	path = player-profile-server/lib/lapilli
	url = https://github.com/LUDIARS/Lapilli.git
[submodule "player-profile-server/private/survey-data"]
	path = player-profile-server/private/survey-data
	url = https://github.com/LUDIARS/Voluptas-Data.git
	branch = main
	ignore = all
